
       <div class="app">
            <h1>Jodle</h1>
            <!--
            <div id="deviceready" class="blink">
                <p class="event listening">Connecting to Device</p>
                <p class="event received">Device is Ready</p>
            </div>
           -->
           <p> Le serveur n'arrive pas à reconnaître ce nom d'utilisateur et ce mot de passe. Veuiller recommencer. </p>
           <form id="connect_form">
               <div class="form-group">
                   <label for="nomUtil">Nom d'Utilisateur :</label>
                   <input type="text" name="nomUtil" id="nomUtil" class="form-control" required="required"/>
               </div>
               <div class="form-group">
                   <label for="motPasse">Mot de Passe :</label>
                   <input type="password" name="motPasse" id="motPasse" class="form-control" required="required"/>
               </div>
               <input type="submit" value="Connecter">
           </form>

           <p>Vous n'avez pas de compte?</p>
           <button id = "creer_uti">Creer un compte</button>

          <!--
          <form action="/action_page.php">
              Nom d'utilisateur: <input type="text" name="nomUtil"><br>
              Mot de passe : <input type="text" name="motPasse"><br>
              <input type="submit" value="Connecter" id="Connect">
          </form>
          -->
        </div>
