
{{ #data }}
<h1 id="top"> Bienvenue  {{pseudo}}</h1>
{{ /data }}

<form id="Message_form">
    <div class="form-group">
        <label for="nomUtil">Message:</label>
        <input type="text" name="Message" id="Message" class="form-control" height="100" required="required"/>
    </div>
    <input type="submit" value="Envoyer">
</form>

       	<div class="app">
            <h1>App Web</h1>
            <div id="deviceready" class="blink">
                <p class="event listening">Connecting to Device</p>
                <p class="event received">Device is Ready</p>
                <button id = "uploadFile">UPLOAD</button>
                <button id = "downloadFile">DOWNLOAD</button>
                <button id = "getPosition">CURRENT POSITION</button>
                <button id = "watchPosition">WATCH POSITION</button>
                <button id = "audioCapture">AUDIO</button>
                <button id = "imageCapture">IMAGE</button>
                <button id = "videoCapture">VIDEO</button>
            </div>
        </div>

</button>
