
{{ #data }}
<h1 id="top"> Bienvenue  {{pseudo}}</h1>
{{ /data }}

<form id="Message_form">
    <div class="form-group">
        <label for="nomUtil">Message:</label>
        <input type="text" name="Message" id="Message" class="form-control" height="100" required="required"/>
    </div>
    <input type="submit" value="Envoyer">
</form>

       	<div>
       		<ul>
       			<li> Accès au  <a href='#messages'> Messages</a> </li>
       			<li> Accès au  <a href='#videos'> Videos </a> </li>
       			<li> Accès au  <a href='#photos'> Photos </a> </li>
       		</ul>
       	</div>
<h2 id="photos"> Photos </h2>


        <div class="app">
            <div>
                <img id="get-picture-result" />
            </div>
            <Button id="take-picture-button">Take Picture</button>
        </div>

</button>
