
<div class="app">
<h1 id="top"> Créer un compte</h1>
<p> </p>

<form id="creer_uti_form">
  <div class="form-group">
        <label for="pseudo">Pseudo:</label>
        <input type="text" name="pseudo" id="pseudo" class="form-control" required="required"/>
    </div>
    <div class="form-group">
        <label for="motPasse">Mot de Passe :</label>
        <input type="password" name="mdp" id="mdp" class="form-control" required="required"/>
    </div>
    <input type="submit" value="Creer mon compte">
</form>

<button id = "deconnect">Retour</button>

</div>
